# Dependencies
node_modules/

# Build outputs
build/
dist/

# Environment variables
.env
.env.local
.env.production
.env.development

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Coverage reports
coverage/

# Temporary files
*.tmp
*.temp

# Cache
.cache/
.next/
out/

# Local Netlify build folder
.netlify/
